
<html>
<title>@ViewBag.Title</title>
<head>

    <link href="~/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<header>Welcom to Tuts
    <ul>
        <li><a href="/app/index">Home</a></li>
        <li><a href="/app/contact">Contact</a></li>
    </ul>

</header>
@RenderBody()
<footer>Copyright 2018</footer>
</body>

<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/js/index.js"></script>

</html>