
@{
    ViewData["Title"] = "contact";
}

<h2>contact</h2>

<form method="POST">
    <input type="text" name="name"/>
    <input type="text" name="surname"/>
    <input type="text" name="subject"/>
    <input type="submit" name="Submit Form"/>

</form>